
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Main/img/heart-pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 50px;
}

.container h4 {
    margin: 0;
}

.heart {
    height: 80px;
    width: 80px;
    background-color: #F20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 100px #F20044;
    animation: pulse 0.7s linear infinite;
    left: 20px;
}

.heart::before {
    content: '';
    position: absolute;
    top: -50%;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    background-color: #F20044;
    box-shadow: -10px 10px 100px #F20044;
}

.heart::after {
    content: '';
    position: absolute;
    right: -50%;
    border-radius: 50px;
    height: 80px;
    width: 80px;
    background-color: #F20044;
    box-shadow: -10px 10px 100px #F20044;
}

@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}